<%- include("partials/header") -%>
<!-- Showcase !-->

<section class="showcase">
  <div class="row">
    <div class="showcase-col">
      <img src="images/photo3.jpg" alt="">
      <div class="layer">
        <h3>zhana</h3>
      </div>
    </div>

    <div class="showcase-col">
      <img src="images/photo2.jpg" alt="">
      <div class="layer">
        <h3>identica</h3>
      </div>
    </div>

    <div class="showcase-col">
      <img src="images/photo1.jpg" alt="">
      <div class="layer">
        <h3>QR</h3>
      </div>
    </div>
  </div>
</section>
<br><br>
<section class="location">
  <h1>Our location</h1>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.254462436111!2d76.93689525114083!3d43.26704457903402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836f06156f056b%3A0x88fe0427bddbda1a!2sQazaq%20Republic!5e0!3m2!1sen!2skz!4v1651065428633!5m2!1sen!2skz"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

<!-- Description  !-->


<%- include("partials/footer") -%>
